<h1>Admin &raquo; Dashboard</h1>


 <div>
  <div>
    <h3>Product Information</h3>
  </div>
  <div>
    Number of different products in the store: <%= link_to @product_count, '/admin/products' %>
  </div>
  <div>
    Number of different categories in the store: <%= link_to @category_count, '/admin/categories' %>
  </div>
 </div>